body {
  text-align: center;
}



#root {
  display: grid;
  grid-template-columns: 8fr;
  grid-template-rows: 0.20fr 1.2fr 1fr 200px;
  grid-template-areas: "hd hd nav nav nav nav nav nav"
                       "main main main main main main main main"
                       "abo abo abo abo abo abo abo abo"
                       "ft ft ft ft ft ft ft ft";
  grid-gap: 10px;
  justify-content: center;
  align-items: start;

}

.AppHeader {
  grid-area: hd;
  display: inline-block;
  padding-left: 2em;
  

}

.nav{
  grid-area: nav;
  display: inline-block;
  
}

.cta {
  position: relative;
  width: 100%;
  grid-area: main;
  grid-gap: 20px;
  background-color:#495E57;
  color: white;
}

.cta h1 {
  color: #f4CE14;
}

.cta div {
  display: inline-block;
  text-align: left;
}
.cta div:nth-child(1){
  vertical-align: top;
  width: 250px;
}

.cta div:nth-child(2) {
  padding: 2em;
  
}
.cta img {
  border-radius: 16pt;
}
.buttonCta {
  background-color: #f4CE14;
  color: #495E57;
  font-weight: bold;
  padding: 1em;
  border-radius: 16pt;
}
.buttonCta:hover {
  background-color: #978215;
  color: #495E57;
}
.booking {
  background-color:#495E57;
  color: white;
}
.formular {
  position: relative;
  display: inline;
  width: 100%;
  grid-area: main;
  grid-gap: 20px;
  background-color:#495E57;
  color: white;
}
.formular div {
  display: inline-block;
  align-items: center;
  justify-content: start;
  padding: 2em;
}

.formular form {
  display: grid; 
  display: inline-block; 
  max-width: 200px;
  text-align: left;
}
.formular form div{
  vertical-align: center;
  padding: 0.5em;
}
.formular img {
  border-radius: 16pt;
}

.confirmed {
  grid-area: main;
  padding-top: 180px;
  padding-bottom: 180px;
  background-color:#495E57;
  color: white;
}

.main {
  grid-area: main;
  
}

.about{

  grid-area: abo;
  display: inline;

}

.about div {
  width: 250px;
  text-align: left;
  display: inline-block;
  vertical-align: top;
  padding: 2em;
  
}

.about img {
  border-radius: 16pt;
}

.footer {
  width: 100%;
  grid-area: ft;
  display: inline;
  color: white;
  background-color: #495E57;
  

}
.footer .ftr-logo img{
  background-color: white;
  padding: 5px;
}

nav ul li {
  display: inline;
  padding-left: 2em;
}

footer section div{
  display: inline-block;
  vertical-align: top;
  padding: 2em;
}

footer ul li {
  display: block;
  text-align: left;
  
  
}
footer ul li a {
  color: white;
}
header img {
  margin-top: 20px;
  margin-bottom: 0;
}

@media (max-width: 991px) {
  #root {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "hd"
                         "nav"
                         "main"
                         "abo"
                         "ft"
    
  }
  .formular img {
    width: 90%;
  }
}